h1,h2,h3,h4,p{
  font-family: 'Open Sans', sans-serif;
}
.sacramento{
  font-family: "Sacramento";
  font-size: 45px;
  color: #5d2417;
}

/*CSS LOGIN*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #68351a;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #68351a;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}

.signup_link {
  margin: 30px 0;
}

.logo {
  position: absolute;
  top: 21%;
  left: 54%;
  transform: translate(-50%, -50%);
  width: 400px;
}
/*CSS LOGIN*/


/*BUBBLES LOGIN*/

  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#320000;
    border-radius:50%;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    opacity:0.35;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    opacity:0.50;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    opacity:0.35;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    opacity:0.35;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }
/*BUBBLE*/

/*RADIOBUTTON*/
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 10px;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 5px solid grey;
}
.cosa{
  margin-left: 20px;
  
}

/*RADIOBUTTON*/

/*MENU*/
.logomenu{
  margin-left:7%;
  line-height: 50px;
}
.logomenu img{
  width: 175px;
}
.menu{
  margin-left:87%;
  position: relative;
  top: -125%;
}
.button-container {
  display: flex;
  width: 10%;
  min-height: 20vh;
}

.button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  position: absolute;
  top: 1em;
  right: 0;
  bottom: 3em;
  left: 0;

  padding: 5.3px;
  border-radius: 8px;
  color: #212121;
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Sacramento";
}

.button-1 {
  color: #c57d56;
  border: 3px solid #c57d56;
}

.button-1:hover {
  color: #FFF;
  background-color: #c57d56;
}
/*MENU*/

/*FORMULARIO CONTACTO*/

#container {
  border: solid 3px #5d2417;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
  font-family: 'Open Sans Condensed';
  background-color: white;
}

.underline {
  border-bottom: solid 2px #5d2417;
  margin: -0.512em auto;
  width: 80px;
}

.email {
	float: right;
	width: 45%;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

::-webkit-input-placeholder {
	color: #5d2417;
}

:-moz-placeholder { 
	color: #5d2417;
	opacity: 1;
}

::-moz-placeholder {
	color: #5d2417;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #5d2417;
}

#form_button {
  background: none;
  border: solid 2px #5d2417;
  color: #5d2417;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #5d2417;
  color: #F2F3EB;
}
  
.underline {
    width: 53px;
}
/*FORMULARIO CONTACTO*/

/*ABOUT US*/
#container2 {
  width: 100%;
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
  font-family: 'Open Sans Condensed';
  background-color: white;
}
/*ABOUT US*/

/*GRID*/
.container {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  justify-content: end; 
  grid-auto-flow: row;
  grid-template-areas:
    "cafe texto";
}

.cafe { grid-area: cafe; }

.texto { grid-area: texto; }

/*GRID*/

/*SCRIPT CSS*/
.script{
  position: relative;
  background-color: #c57d56;
  color: white;
  text-align: center; 
  }

/*SCRIPT CSS*/

/*FlexBox*/
.FlexContainer {
  margin-left: 24%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 60%;
  overflow: auto;
  flex-direction: row;
  text-align: center;
}

.FlexContainer div {
  width: 30%;
  height: px;
  margin: 0px;
  text-align: center;
}
/*FlexBox*/